/* reset and common code start here  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  position: relative;
  /* min-height: 100vh; */
  width: 100vw;
}

h3,
h4,
h5,
h6,
p {
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}
li {
  list-style-type: none;
}

.section_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.common_btn {
  border: 0.1rem solid #ffa001;
  border-radius: 3rem;
  background: black;
  color: white;
  padding-left: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  z-index: 1;
  margin-bottom: 3rem;
}
.common_btn::before {
  content: "";
  width: 5rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0px;
  background: #ffa001;
  border-radius: 3rem;
  transition: 0.4s;
  z-index: -1;
  outline: 0;
}
.common_btn:hover::before {
  width: 100%;
  border-radius: 3rem;
}
.banner_button_icon {
  background: #ffa001;
  padding: 2rem;
  border-radius: 50%;
  margin-left: 2rem;
}
/* .banner_button_icon {
  background: #ffa001;
  padding: 2rem;
  border-radius: 50%;
  margin-left: 3rem;
} */

.section_title {
  font-size: 6.1rem;
  text-align: center;
  font-weight: 800;
  letter-spacing: 3px;
  margin-bottom: 70px;
}
.section_subTitle {
  color: rgb(255, 160, 1);
}

/* reset and common code end here  */

/* header start here  */

/* .full_app {
  min-height: 100vh;
  max-width: 100%;
  position: relative;
} */
.header_area {
  width: 12%;
  height: 100vh;
  position: absolute;
  right: 23px;
  top: 0;
}

.menu_container {
  width: 22%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: -2px;
  bottom: 0;
}

.menu_items {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}

.menu_item {
  position: relative;
  z-index: 1;
}
.menu_item h4 {
  display: inline;
  visibility: hidden;
  letter-spacing: 0.2rem;
  padding: 0 0 0 1.7rem;
}

.menu_item i {
  font-size: 1.5rem;
  background-color: #2b2a2a;
  padding: 1.5rem;
  border-radius: 50%;
  z-index: 3;
}
.menu_item:hover i {
  background-color: #ffb400;
  box-shadow: none;
}
.menu_item:hover h4 {
  visibility: visible;
}

.menu_item::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 1.8rem;
  background-color: #ffb400;
  z-index: -1;
  border-radius: 5rem;
  transition: 0.4s;
}

.menu_item:hover::after {
  width: 100%;
  right: 0.1rem;
}

/* header end here  */

/* banner_area start here  */
.banner_area {
}
.banner_row {
  height: 100vh;
}
.banner_left {
  width: 80%;
  margin: auto;
}
.banner_img {
  display: inline-block;
  width: 100%;
  height: 40rem;
  border: 1rem solid yellow;
}
.banner_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}
.banner_header {
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.banner_header span {
  color: yellow;
}
.banner_header small {
  display: block;
  text-align: center;
}
.banner_description {
  font-size: 1.7rem;
  margin-bottom: 2.5rem;
}

/* banner_area end here  */

/* about_area start here  */
.about_area {
  min-height: 95vh;
  padding: 75px 0;
}
.personal_title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 3.5rem;
}
.about_personal_items {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.personal_item {
  font-size: 15px;
  margin-bottom: 18px;
}
.personal_item span {
  font-weight: 700;
}
.about_btn {
  margin: 2rem 0;
}
.personal_margin {
  margin-top: 7rem;
}
.exprerience_box {
  max-width: 95%;
  padding: 2rem 3.5rem;
  /* box-shadow: 1px 1px 6px red; */
  border: 0.1px solid rgb(32, 25, 25);
  margin: 21px 0px;
}
.exprerience_title {
  font-size: 50px;
  color: yellow;
  font-weight: 600;
}
.exprerience_pera {
  font-size: 14px;
  font-weight: 400;
}
.exprerience_pera span {
  display: block;
}
/* about_area end here  */
/* skill-section start here  */
.skill_area {
  margin-bottom: 10rem;
}
.skill_heading {
  font-size: 3rem;
  text-align: center;
  margin: 3rem 0;
}
.skill {
  position: relative;
  background-color: #1d293a;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.3rem black;
  margin: 18px 9px;
}
.cards {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.cards h4 {
  font-size: 20px;
  font-weight: 800;
}
.cards p {
  font-size: 18px;
  background: #00cf5d;
  padding: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
  border-radius: 0.5rem;
  font-weight: 700;
}

.progress_bar {
  width: 90%;
  height: 2rem;
  background: #ffff;
  border-radius: 1000px;
  position: relative;
}
.progress_bar::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1000px;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.progress_html::after {
  animation-name: htmls;
}
@keyframes htmls {
  to {
    background: #00cf5d;
    width: 80%;
  }
}
.progress_css::after {
  animation-name: css;
}
@keyframes css {
  to {
    background: #00cf5d;
    width: 85%;
  }
}
.progress_bootstrap::after {
  animation-name: bootstrap;
}
@keyframes bootstrap {
  to {
    background: #00cf5d;
    width: 85%;
  }
}

.progress_js::after {
  animation-name: javascript;
}
@keyframes javascript {
  to {
    background: #00cf5d;
    width: 75%;
  }
}
.progress_react::after {
  animation-name: react;
}
@keyframes react {
  to {
    background: #00cf5d;
    width: 75%;
  }
}
.progress_git::after {
  animation-name: git;
}
@keyframes git {
  to {
    background: #00cf5d;
    width: 60%;
  }
}
/* skill-section end here  */

/* portfolio start here  */
.portfolio_area {
  margin-top: 100px;
  width: 100%;
}
.card_area {
  margin-top: 50px;
}

.card {
  position: relative;
  z-index: -1;
  padding: 10px;
  background: black;
  border: 1px solid #545050;
  width: 100%;
}
.card_img {
  border-radius: 5px;
  overflow: hidden;
}
.card_img img {
  transition: 0.3s;
}
.card_img img:hover {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transform: scale(1.2);
}
.card_body {
  background: black;
}
.card_title {
  font-size: 33px;
  margin: 15px 0;
  font-weight: 600;
}

.card_body p {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 25px 0 25px 0;
}
.card_link_area {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.card_link_area a {
  background: green;
  color: lightblue;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 4px;
}
/* portfolio end here  */

/* contact start here  */
.contact_area {
  /* min-height: 100vh; */
}
.contact_title {
  margin-bottom: 0;
}
.contact_left_side {
  height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact_left_side .contact_heading {
  font-weight: 600;
  font-size: 3.3rem;
}
.contact_left_side .contact_pera {
  font-size: 17px;
  font-weight: 400;
}
.contact_subdescription {
}
.contact_subIcon i {
  font-size: 3.2rem;
  color: #ffa001;
}

.contact_subPera {
  margin-left: 5.7rem;
}
.contact_subPera h2 {
  font-size: 1.7rem;
  font-weight: 400;
}
.contact_subPera p {
  font-size: 13px;
  font-weight: 700;
}
.social_icon {
  max-width: 40%;
  /* max-height: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social_icon a {
  display: inline-block;
  font-size: 1.5rem;
  background: #2b2a2a;
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 50%;
  transition: 0.5s;
}
.social_icon a:hover {
  background: #ffa001;
}

.form_all_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 51rem;
}
.form_heading {
  display: flex;
  width: 100%;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  background: black;
  color: white;
  padding: 1.2rem 2.8rem 1.2rem 2.8rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  border-radius: 5rem;
  background: #252525;
  border: none;
  outline: 0;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #ffa001;
}

.form_heading input[type="email"] {
  margin-left: 2rem;
}
.form_footer {
  width: 100%;
}

/* contact end here  */

/* responsive design start here  */

@media (max-width: 992px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }
  .section_title {
    margin-bottom: 3rem;
  }

  .banner_left {
    padding-top: 3rem;
  }

  .banner_right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }
  .menu_item h4 {
    display: none;
  }

  .header_area {
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: -99;
  }
  .menu_container {
    width: 100%;
    bottom: 0;
    height: 10%;
    z-index: 5;
    background: #2b2a2a;
  }
  .menu_items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .menu_item i {
    font-size: 1.6rem;
    padding: 1.5rem;
    box-shadow: 1px 0px 3px #222121;
    background-color: #383737;
  }
  .contact_area {
    padding: 3rem;
  }
  .form_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form_heading input[type="email"] {
    margin-left: 0;
  }
  .contact_btn {
    margin-bottom: 8rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 30%;
  }
}
/* responsive design end here  */
